{% extends "gestionProyecto/base.html" %}
    <title>Contacto</title>

{% load static %}
 
{% block content %}
<h3 style = "color: rgb(255, 132, 50); padding-left: 1%;">Contáctanos</h3>

     
    <div class="col-lg-4 col-md-4 col-sm-4"> 
        <div class = "contact-us">
            <form id="contact" action="/contacto/" method="POST"> {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <fieldset>
                      <input name="nombre" type="text" class="form-control"  placeholder="Nombre Completo" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <fieldset>
                      <input name="email"  type="email" class="form-control"  placeholder="Correo Electrónico" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="asunto" type="text" class="form-control"  placeholder="Asunto" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="mensaje" rows="5" class="form-control"  placeholder="Tu Mensaje" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="main-button">Enviar</button>
                    </fieldset>
                  </div>
                </div>
              </form>
        </div>    
    </div>
  <!--

    {% if form.errors %}
        <p style="color: red">Por favor revisa el campo</p>
    {% endif %}
    
    <form action = " " method = "POST"> {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type = "submit" value= "Enviar">
        <button type="submit" id="form-submit" class="main-button">Enviar</button>
    </form>
  -->
{% endblock %}
  