{% extends "gestionProyecto/base.html" %}

{% load static %}


{% block content %}
<style>
    .content-box {
        columns: 5 auto;
    }
</style>

 
<section class="section" id="blog">
    <div style="float: right; padding: 30px;">
        {% include "carro/widget.html" %}
    </div>
   
    <div class="container">
        <div class="row">
            {% for p in producto %}
            <div class = "col-lg-3 col-md-3 col-sm-3">
                <div class="blog-post-thumb" >
                    <div class="blog-content" >
                        <h3>
                            <h2> <p>Categoria</p></h2>
                            {% for c in p.pro_categorias.all %}
                            <a href ="{% url 'p_categoria' c.id %}" class = "linksCategorias" > {{c.nombre}} </a>
                            {% endfor %}
                        </h3>
                        <h3>
                            <h2><p>Titulo</p></h2>
                            <p>{{p.nombre}}</p>
                        </h3>
                        <div class="img">
                            <div style="max-width: 300px; min-height: 300px;">
                                <img src="{{p.imagen.url}}" alt="">
                            </div>
                        </div>
                        <div class="text"> 
                        <p>{{p.descripcion}}</p>
                        <h2>${{p.precio}}</h2>
                        </div>
                        <a href="{% url 'carro:agregar' p.id%}" class="main-button">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




    





{% endblock %}
