<!--
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            
            <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                <div class="features-small-item">
                    <div class="icon">
                        <i><img src="static/gestionProyecto/images/featured-item-01.png" alt=""></i>
                    </div>
                    <h5 class="features-title">Educación</h5>
                    <p>Colegio Salesiano San Juan Bosco</p>
                    <p>Universidad tecnológica de Pereira</p>

                </div>
            </div>
        -->
<div class = "row">
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
            <div class="features-small-item">
                <div class="icon">
                    <i><img src="static/gestionProyecto/images/featured-item-01.png" alt=""></i>
                </div>
                <h5 class="features-title">Carrito de compras</h5>
                <table class = "table" >
                    <thead>
                      
                        <tr style = "color: orange;" class = "text-center">
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Suma</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if request.session.carro.items %}
                            {% for key, value in request.session.carro.items %}
                                <tr class = "text-center">
                                    <td>{{value.nombre}}</td>
                                    <td>{{value.cantidad}}</td>
                                
                                <td>                                   
                                    <a href = "{% url 'carro:eliminar' value.producto_id %}" class="button-red">x</a>
                                    <a href = "{% url 'carro:restar' value.producto_id %}" class="button-orange">-</a>
                                    <a href = "{% url 'carro:agregar' value.producto_id %}" class="button-green">+</a>
                                    {{value.precio}} 
                                </td>
                                </tr>

                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan = "3">
                                    <div class="alert alert-danger text-center">
                                        Sin Productos
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <h2><p>Total= ${{importe_total_carro}}</p></h2><hr>
                                <a href = "{% url 'carro:limpiar' %}" class="button-blue">Limpiar</a>
                            </td>
                            
                            
                            
                        </tr>
                        

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>