<table class = "table table-bordered" >
    <thead>
        <tr>
            <th colspan = "3" class = "text-center">
                Carrito de Compras
            </th>
        </tr>
        <tr style = "color: orange;" class = "text-center">
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Suma</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.carro.items %}
            {% for key, value in request.session.carro.items %}
                <tr class = "text-center">
                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>
                
                <td>
                    <a href = "{% url 'carro:agregar' value.producto_id %}" class="button-green">+</a>
                    <a href = "{% url 'carro:restar' value.producto_id %}" class="button-orange">-</a>
                    <a href = "{% url 'carro:eliminar' value.producto_id %}" class="button-red">x</a>
                    {{value.precio}} 
                </td>
                 </tr>

            {% endfor %}
        {% else %}
            <tr>
                <td colspan = "3">
                    <div class="alert alert-danger text-center">
                        Sin Productos
                    </div>
                </td>
            </tr>
        {% endif %}
       

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <h2><p>Total= ${{importe_total_carro}}</p></h2><hr>
                <a href = "{% url 'carro:limpiar' %}" class="button-blue">Limpiar</a>
            </td>
            
            
            
        </tr>
        

    </tfoot>
</table>