{% extends "gestionProyecto/base.html" %}
{% load static %}

{% block content %}

  
  <section class="section" id="blog">
    <div class="container">
        <div class="center-heading">
            <h2 class="section-title">Servicios</h2>
        </div>
        <div class="row">
            {% for s in servicios %}
            <div class = "col-lg-3 col-md-3 col-sm-3">
                <div class="blog-post-thumb" >
                    <div class="blog-content" >
                         
                            <h3><p>{{s.titulo}}</p></h3>
                            
                        <div class="img">
                            <div style="max-width: 300px; min-height: 300px;">
                                <img src="{{s.imagen.url}}" alt="">
                            </div>
                        </div>
                        <div class="text">
                            {{s.contenido}}
                        </div>
                        
                        <a href="#" class="button-blue">Ver Información</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>



 
  
 

{% endblock %}

  